.column{
	text-align : center;
	color : black;
	background-color : #d6d6c2;
	border: 2px solid white;
	border-radius: 0px;
	float:left;
	padding: 10px;
}
.column.right {
  width: 1000px;
  margin: 20px;
  height: 600px;
}
.column.left {
  width: 200px;
  background-color: #AFABAB;
  margin: 20px;
  height: 600px;
}
.column.small {
  width: 80px;
  background-color: #767171;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  border: #767171;
}
a {
  text-decoration: none;
  text-align: center;	
  color: black;
}
.column.smallsnall {
  width: 60px;
  background-color: #3B3838;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  border: #3B3838;
} 
/*<div class="column smallsnall">
	<a href="bessereSeite.html">Zum Rezept</a>
  </div>*/
h2 {
	font-family: arial black;
}